html
  height: 100%
  font: 16px 1 sans-serif

body
  margin: 0
  min-height: 100%
  background-color: $lightest-backdrop-gray

*
  box-sizing: border-box
  font-family: Poppins , sans-serif

.actorName
  text-align: center
  font-family: Roboto, sans-serif
  font-size: x-large
  width: 100%
  color: $soft-bark-brown

.overviewSection h1
  color: $soft-bark-brown

.mainActorPictureContainer
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 0 5%

.mainActorPictureContainer img
  width: 100%

.actorBioH1
  color: $soft-bark-brown
