$dark-leather-green: #1f3325
$fern-style-green: #527C59
$lightest-backdrop-gray: #DDE8DC
$granite-style-gray: #606060
$soft-bark-brown: #60504E

//this page styles the footer

.footer
  display: flex
  justify-content: space-between
  align-items: center
  position: fixed
  bottom: 0
  background-color: $soft-bark-brown
  color: $lightest-backdrop-gray
  width: 100%

.footer a
  color: $fern-style-green

.footerPadding
  margin-bottom: 4%