$dark-leather-green: #1f3325
$fern-style-green: #527C59
$lightest-backdrop-gray: #DDE8DC
$granite-style-gray: #606060
$soft-bark-brown: #60504E

.footer
  display: flex
  justify-content: space-between
  align-items: baseline
  position: fixed
  bottom: 0
  background-color: $soft-bark-brown
  color: $lightest-backdrop-gray
  width: 100%