// Begins styling for tvshow page tablet
@media(min-width: 768px)

  .previewShowContainer
    width: 23%
    margin-bottom: 3%

  .footerPadding
    margin-bottom: 17%

// Begins styling for tvshow page desktop
@media(min-width: 1200px)

  .hideMobile
    display: inline

  .previewShowContainer
    width: 18%
    margin-bottom: 2%

  .footerPadding
    margin-bottom: 5%