root

font 16px 1 sans-serif

html
height 100%

body
  margin: 0
  min-height: 100%

//  /* comment only for automation of pull */
//  /* this is curt's comment */

// .featuredShowContainer
//  /* Container for featured TV Show section at top of Home Page */

.previewAllShowsContainer
  display: flex
  flex-wrap: wrap
//  Container for all TV show preview tiles on Home Page

.previewShowContainer
  width 24%
// TV Show tile container on Home Page

// .previewShowImageContainer
//  /* Container for images of TV show preview tiles on Home Page */

// .previewShowImage

// .previewShowTitle
//  /* TV Show Title in preview tile */

//  /* begin TV show page classes */

// .tvShowTitle
//  /* header for title */

// .detailTVShowContainer

// .detailPosterContainer

// .overviewSection

// .charactersUL
