:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/* comment only for automation of pull */
/* this is curt's comment */

.featuredShowContainer {
  /* Container for featured TV Show section at top of Home Page */
}

.featuredShowImageContainer {
}

.featuredShowImage {
  /* align: left; */
}

.previewAllShowsContainer {
  /* Container for all TV show preview tiles on Home Page */
  display: flex;
  flex-wrap: wrap;
}

.previewShowContainer {
  /* TV Show tile (container) on Home Page */
  width: 24%;
}

.previewShowImageContainer {
  /* Container for images of TV show preview tiles on Home Page */
}

.previewShowImage {
}

.previewShowTitle {
  /* TV Show Title in preview tile */
}
