@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Slab&display=swap')

$dark-leather-green: #1f3325
$fern-style-green: #527C59
$lightest-backdrop-gray: #DDE8DC
$granite-style-gray: #606060
$soft-bark-brown: #60504E

html
  height: 100%
  font: 16px 1 sans-serif

body
  margin: 0
  min-height: 100%
  background-color: $lightest-backdrop-gray

*
  box-sizing: border-box

h1
  color: $dark-leather-green
  text-align: center
  font-family: Roboto, sans-serif

header ul
  display: none

.featuredShowHeader
  text-align: center
  font-family: Roboto, sans-serif
  font-size: x-large

//  Container for featured TV Show section at top of Home Page
.featuredShowContainer
  display: flex
  flex-wrap: wrap

.featuredShowImageContainer
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 0 5%

//.featuredShowImageContainer

// .featuredShowImageContainer

.featuredShowImage
  width: 100%

.featuredShowTextContainer
  display: flex
  flex-wrap: wrap
  text-align: center
  margin: 0 5%
  font-family: Poppins , sans-serif

// ---------------------------------------------------

//  Container for all TV show preview tiles on Home Page
.previewAllShowsContainer
  display: flex
  flex-wrap: wrap
  justify-content: center

// TV Show tile container on Home Page
.previewShowContainer
  display: flex
  flex-wrap: wrap
  width: 47%
  margin: 0 1%
  border: 2px solid green

.previewShowImageContainer
  display: flex
  flex-wrap: wrap
  width: 100%
  justify-content: center
  border: 2px solid yellow

//  /* Container for images of TV show preview tiles on Home Page */

.previewShowImage
  width: 100%

//  /* TV Show Title in preview tile */
.previewShowTitle
  width: 100%

//  /* begin TV show page classes */

// .tvShowTitle
//  /* header for title */

// .detailTVShowContainer

// .detailPosterContainer

// .overviewSection

// .charactersUL

.pageSelectorContainer
  display: flex
  justify-content: center

// .pageSelectorElement

.footer
  display: flex
  justify-content: space-between
  align-items: baseline

.attributionLogo
  width: 50px

@media(min-width: 768px)

  .previewShowContainer
    width: 23%

@media(min-width: 1200px)

  .previewShowContainer
    width: 18%